@(prForm: Form[model.journal.PersonalRecord])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(component.bootstrapInput.render) }

@styleExtra = {

}

@scriptExtra = {
    <script type="text/javascript">
	    $(function () {
	        $('#date').datetimepicker({
	        	format: 'YYYY-MM-DD',
	        	use24hours: true,
	        	pickTime: false,
	        	language: '@session.get("locale")'
	        });
	    });
	 //  http://eonasdan.github.io/bootstrap-datetimepicker/
	</script>
}

@main("journal", styleExtra, scriptExtra) {
    
    <div class="row">
    	<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 ">
    		<div class="portlet">
			    <h2 class="portlet-title"><u>Add a new PR</u></h2>
			    <div class="portlet-body">
				    @form(routes.PersonalRecordController.save(), 'class -> "parsley-form", Symbol("data-validate") -> "parsley") {
					
						@inputText(prForm("name"), 
							'_label -> "Workout", 
							'type -> "text", 
							'class -> "form-control",
							'placeholder -> "Add a name to your workout")
						
						@inputText(prForm("workout"), 
							'id -> "workout_select", 
							'_label -> null, 
							'type -> "text", 
							'class -> "form-control", 
							'_showHelp -> false, 
							Symbol("data-placeholder") -> "Select an existing workout")
							
						@inputText(prForm("result"), 
							'_label -> "Result", 
							'class -> "form-control", 
							'_showHelp -> false, 
							'placeholder -> "Add your result",
							Symbol("data-required") -> "true",
							Symbol("data-type") -> "digits")
							
						@component.datePicker(prForm("date"),
                            'id -> "date",
							'_label -> "Date",
							'placeholder -> "Date of achievement",
							'class -> "form-control",
							'_showHelp -> false)
							
						@textarea(prForm("note"), 
							'_label -> "Note", 
							'placeholder -> "Add a note...", 
							'class -> "form-control",
							'_showHelp -> false)
						
						<div class="actions"> 
							<input type="submit" value="Save" class="btn btn-primary">
							<a href="@routes.PersonalRecordController.list()" class="btn btn-default">Cancel</a> 
						</div>
						
					}
				</div>
			</div>
		</div>
	</div>
    
    <script>
		$(document).ready(function() { 
			$("#workout_select").select2({
			    ajax: {
			        dataType: "json",
			        data: function (term, page) {
			        	return {
				        	q: term, // search term
				        	page_limit: 10,
				        	};
			        	},
			        url: jsRoutes.controllers.WODController.fetch().url,
			        results: function (data) {
			            return {results: data};
			        }
			    },
			    formatResult: formatValues,
			    formatSelection: formatValues,
			    minimumInputLength: 3
			}); 
			
			function formatValues(data) {
			    return data.title;
			}
			
			$( "#name" ).keyup(function( event ) {
				if(this.value != null && this.value != "") {
					$("#workout_select").select2("enable", false); 
				} else {
					$("#workout_select").select2("enable", true); 
				}
			});
		});
	</script>
}