@()

@import helper._
@authenticated = @{util.permission.Identity.isAuthenticated()}
@import model.training.ResultMeasurementType
@import util.format.DateTimeFormatter

@main("journal") {

	<div class="portlet">

        <h3 class="portlet-title">
          <u>Personal Records</u>
        </h3>
        
        @if(authenticated) {
			<a href="@routes.PersonalRecordController.create()"> <button class="btn btn-primary">New <span class="glyphicon glyphicon-plus"></span></button></a>
		}

        <div class="portlet-body">

          	<table id="recordsTable" class="table table-striped table-bordered dataTable" aria-describedby="table-1_info">
	            <thead>
	              <tr role="row">
	              	<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="recordsTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name">Name</th>
	              	<th class="sorting" role="columnheader" tabindex="0" aria-controls="recordsTable" rowspan="1" colspan="1" aria-label="Date">Date</th>
	              	<th class="sorting" role="columnheader" tabindex="0" aria-controls="recordsTable" rowspan="1" colspan="1" aria-label="Result">Result</th>
              	  	<th role="columnheader" tabindex="0" aria-controls="recordsTable" rowspan="1" colspan="1"></th>
              	  </tr>
	            </thead>
	            
          		<tbody role="alert" aria-live="polite" aria-relevant="all" />
          	</table>
          </div>

    </div> <!-- /.portlet-body -->

	<div class="modal modal-styled fade" id="deleteModal" style="display: none;" aria-hidden="true">

        <div class="modal-dialog">

          <div class="modal-content">

            <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
              <h3 class="modal-title">Confirmation</h3>
            </div> <!-- /.modal-header -->

			@form(routes.PersonalRecordController.delete()) {
	            <div class="modal-body">
	              <p>Are you sure you want to delete this record?</p>
	              <input type="hidden" name="id" id="recordId" value="" />
	            </div> <!-- /.modal-body -->
	            
	            <div class="modal-footer">
	              <button data-dismiss="modal" class="btn btn-default" type="button">No</button>
	              <button class="btn btn-primary" type="submit">Yes</button>
	            </div> <!-- /.modal-footer -->
            }

          </div> <!-- /.modal-content -->

        </div><!-- /.modal-dialog -->

      </div>
	
	<script type="text/javascript">
	$(function() {
		
		var table_1 = $('#recordsTable').dataTable ({
			 "sAjaxSource": jsRoutes.controllers.PersonalRecordController.fetch().url,
			 "aoColumns": [
			   { "mData": "name" },
			   { "mData": "date" },
			   { "mData": "result" }
			 ],
			 "aoColumnDefs": [ 
			   {	
					"aTargets": [ 3 ],
					"bSortable": false,
					"bSearchable":false,
					"mData": "id",
					"mRender": function ( data, type, full ) {
						var editLink = jsRoutes.controllers.PersonalRecordController.edit(data).url;
						var onclick = '$("#recordId").val($(this).attr("data-id"))';
						return '<a href="'+editLink+'">Edit</a>&nbsp;<a href="#deleteModal" class="deleteLink" data-toggle="modal" data-id="'+data+'">Delete</a>';
					}
			   }
			 ],
			 "fnInitComplete": function(oSettings, json) {
			   $(this).parents ('.dataTables_wrapper').find ('.dataTables_filter input').prop ('placeholder', 'Table Search...').addClass ('form-control input-sm')
			 },
			 "fnInitComplete": function(oSettings, json) {

				 $(".deleteLink").click(function() {
				 	var btn = $(this);
					var id = btn.attr('data-id');
					$("#recordId").val(id);
				 });
	         }
		});

		})
	</script>
}

            