#editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 10px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: auto;
	outline: none;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#editor:hover {    
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.editor.btn-toolbar {
	margin-bottom: 10px;
	margin-top: 10px;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

img.img-centered {
	height: 300px;
	display: block;
	margin: 0 auto;
}

.table form {
	padding: 0px;
}

.table form button {
	padding: 0px;
}

.bootstrap-datetimepicker-widget {
	z-index:10000 !important;
}

.post-entry {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin-bottom: 2em;
    padding: 15px;
    position: relative; 
    vertical-align: top;
    width: 100%;
}

.attendance:before {
    border-bottom: 6px solid #395065;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.attendance  {
    background-color: #777;
    color: #fff;
    display: inline-block;
    padding: 8px 0 12px;
    position: absolute;
    right: 15px;
    top: -10px;
    width: 28px;
    text-align: center;
}

.unattended {
    background-color: #425d75;
    color: #d74b4b;
}

.attended {
    background-color: #425d75;
    color: #46a546;
}

.post-header {
    background-color: #395065;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    margin: -25px -15px 15px;
    padding: 15px;
}

.post-title {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 0;
    text-transform: uppercase;
}

.post-date {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    display: block;
    margin: -15px -15px 0;
    padding: 10px;
}

.post-content {
	padding: 0.5em 0 0;
}

.feed-item-comment .feed-icon {
  background-color: #6685a4;
}
