@(currentPage: dao.AbstractDAO.Page[model.box.Box], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.BoxController.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("box") {
    
    <h1 id="homeTitle">@Messages("boxes.list.title", currentPage.getTotalRowCount)</h1>

    <div id="actions">
        
        <form action="@link(0, "name")" method="GET" class="navbar-form navbar-left">
        	<div class="form-group">
           		<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by name..." class="form-control">
            </div>
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
        </form>
        
        <a class="btn success" id="add">Add a new box</a>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-striped">
            <thead>
                <tr>
                    @header("name", "Box name")
                </tr>
            </thead>
            <tbody>

                @for(box <- currentPage.getList) {
                    <tr>
                        <td>@box.name</a></td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pager">
            <ul>
                @if(currentPage.hasPrev) {
                    <li>
                        <a href="@link(currentPage.getPageIndex - 1, null)">Previous</a>
                    </li>
                } else {
                    <li class="disabled">
                        <a>Previous</a>
                    </li>
                }
               
                @if(currentPage.hasNext) {
                    <li>
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next</a>
                    </li>
                } else {
                    <li>
                        <a>Next</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            