@(passwordChangeForm: Form[controllers.entity.PasswordChange])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(component.bootstrapInput.render) } 

@form(routes.UserController.changePassword(), 'class -> "form-horizontal", Symbol("data-validate") -> "parsley", 'id -> "passwordChangeForm", 'autocomplete -> "off") {
	
	@inputPassword(passwordChangeForm("oldPassword"), 
		'_label -> "Old Password", 
		'type -> "password", 
		'class -> "form-control parsley-validated", 
		Symbol("data-required") -> "true", 
		'_labelClass -> "col-md-3", 
		'_inline -> true, 
		'_inputWrapperClass -> "col-md-7")
	
        <hr>
	            
    @inputPassword(passwordChangeForm("newPassword"), 
		'_label -> "New Password", 
		'type -> "password", 
		'class -> "form-control parsley-validated", 
		Symbol("data-required") -> "true", 
		'_labelClass -> "col-md-3", 
		'_inline -> true, 
		'_inputWrapperClass -> "col-md-7")
	
	@inputPassword(passwordChangeForm("confirmation"), 
		'_label -> "New Password Confirm", 
		'type -> "password", 
		'class -> "form-control parsley-validated", 
		Symbol("data-required") -> "true", 
		Symbol("data-equalto") -> "#newPassword",
		'_labelClass -> "col-md-3", 
		'_inline -> true, 
		'_inputWrapperClass -> "col-md-7")
	
	<div class="form-group">
	
	  <div class="col-md-7 col-md-push-3">
	    <button class="btn btn-primary" type="submit">Save Changes</button>
	    &nbsp;
	    <button class="btn btn-default" type="reset">Cancel</button>
	  </div> <!-- /.col -->
	
	 </div> <!-- /.form-group -->

}