@(user: model.user.User)

@import helper._
@import play.i18n.Messages

@implicitFieldConstructor = @{ FieldConstructor(component.bootstrapInput.render) } 

@main("") { 

	<div class="row">

        <div class="col-md-3 col-sm-5">

          <div class="profile-avatar">
            <img alt="Profile Image" class="profile-avatar-img thumbnail" src="http://placehold.it/253x253">
          </div> <!-- /.profile-avatar -->

          <div class="list-group">  

            <a class="list-group-item" href="javascript:;">
              <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp;Activity Feed

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a class="list-group-item" href="javascript:;">
              <i class="fa fa-book text-primary"></i> &nbsp;&nbsp;Projects

              <i class="fa fa-chevron-right list-group-chevron"></i>
              <span class="badge">3</span>
            </a> 

            <a class="list-group-item" href="javascript:;">
              <i class="fa fa-envelope text-primary"></i> &nbsp;&nbsp;Messages

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a class="list-group-item" href="javascript:;">
              <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;Friends

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a class="list-group-item" href="javascript:;">
              <i class="fa fa-cog text-primary"></i> &nbsp;&nbsp;Settings

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 
          </div> <!-- /.list-group -->



        </div> <!-- /.col -->



        <div class="col-md-6 col-sm-7">

          <h3>@user.name</h3>

          <h5 class="text-muted">Visual, UI, UX Designer</h5>

          <hr>

          <p>
            <a class="btn btn-primary" href="javascript:;">Follow Nikita</a>
            &nbsp;&nbsp;
            <a class="btn btn-secondary" href="javascript:;">Send Message</a>
          </p>

          <hr>
          
          <ul class="icons-list">
            <li><i class="icon-li fa fa-envelope"></i> support[at]jumpstartthemes.com</li>
            <li><i class="icon-li fa fa-globe"></i> jumstartthemes.com</li>
            <li><i class="icon-li fa fa-map-marker"></i> Las Vegas, NV</li>
          </ul>    

          <br>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>

          <hr>


          <br><br>

          <h4 class="content-title"><u>Activity Feed</u></h4>

            <div class="share-widget clearfix">

              <textarea tabindex="1" placeholder="Share what you've been up to..." rows="3" class="form-control share-widget-textarea"></textarea>

              <div class="share-widget-actions">
                <div class="share-widget-types pull-left">
                  <a title="" class="fa fa-picture-o ui-tooltip" href="javascript:;" data-original-title="Post an Image"><i></i></a>
                  <a title="" class="fa fa-video-camera ui-tooltip" href="javascript:;" data-original-title="Upload a Video"><i></i></a>
                  <a title="" class="fa fa-lightbulb-o ui-tooltip" href="javascript:;" data-original-title="Post an Idea"><i></i></a>
                  <a title="" class="fa fa-question-circle ui-tooltip" href="javascript:;" data-original-title="Ask a Question"><i></i></a>
                </div>	

              <div class="pull-right">
                <a tabindex="2" class="btn btn-primary btn-sm">Post</a>
              </div>

              </div> <!-- /.share-widget-actions -->

            </div> <!-- /.share-widget -->

            <br><br>

            <div class="feed-item feed-item-idea">

              <div class="feed-icon">
                <i class="fa fa-lightbulb-o"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> shared an idea: <a href="javascript:;">Create an Awesome Idea</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-quote-left"></i>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                  </li>
                </ul>
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a class="pull-left" href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a class="pull-left" href="javascript:;"><i class="fa fa-comment-o"></i> 29</a>

                <a class="pull-right" href="javascript:;"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->



            <div class="feed-item feed-item-image">

              <div class="feed-icon">
                <i class="fa fa-picture-o"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <div style="width: 375px" class="thumbnail">
                  <img alt="Gallery Image" style="width: 100%;" src="./img/mockup.png">
                </div> <!-- /.thumbnail -->
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a class="pull-left" href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a class="pull-left" href="javascript:;"><i class="fa fa-comment-o"></i> 29</a>

                <a class="pull-right" href="javascript:;"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->



            <div class="feed-item feed-item-file">

              <div class="feed-icon">
                <i class="fa fa-cloud-upload"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2007</a> - annual_report_2007.pdf
                  </li>

                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2008</a> - annual_report_2007.pdf
                  </li>

                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2009</a> - annual_report_2007.pdf
                  </li>

                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2010</a> - annual_report_2007.pdf
                  </li>
                </ul>
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a class="pull-left" href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a class="pull-left" href="javascript:;"><i class="fa fa-comment-o"></i> 29</a>

                <a class="pull-right" href="javascript:;"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->



            <div class="feed-item feed-item-bookmark">

              <div class="feed-icon">
                <i class="fa fa-bookmark"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> bookmarked a page on Delicious: <a href="javascript:;">Jumpstart Themes</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a class="pull-left" href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a class="pull-left" href="javascript:;"><i class="fa fa-comment-o"></i> 29</a>

                <a class="pull-right" href="javascript:;"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->



            <div class="feed-item feed-item-question">

              <div class="feed-icon">
                <i class="fa fa-question"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> posted the question: <a href="javascript:;">Who can I call to get a new parking pass for the Rowan Building?</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-quote-left"></i>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                  </li>
                </ul>
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a class="pull-left" href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a class="pull-left" href="javascript:;"><i class="fa fa-comment-o"></i> 29</a>

                <a class="pull-right" href="javascript:;"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

            <br class="visible-xs">            
            <br class="visible-xs">
            
          </div> <!-- /.col -->


          <div class="col-md-3">
            <h5 class="content-title"><u>Social Stats</u></h5>

            <div class="list-group">  

              <a class="list-group-item" href="javascript:;">
                  <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
                  <h4 class="list-group-item-heading">38,847</h4>
                  <p class="list-group-item-text">Profile Views</p>                  
                </a>

              <a class="list-group-item" href="javascript:;">
                <h3 class="pull-right"><i class="fa fa-facebook-square  text-primary"></i></h3>
                <h4 class="list-group-item-heading">3,482</h4>
                <p class="list-group-item-text">Facebook Likes</p>
              </a>

              <a class="list-group-item" href="javascript:;">
                <h3 class="pull-right"><i class="fa fa-twitter-square  text-primary"></i></h3>
                <h4 class="list-group-item-heading">5,845</h4>
                <p class="list-group-item-text">Twitter Followers</p>
              </a>
            </div> <!-- /.list-group -->

            <br>

            <h5 class="content-title"><u>Project Activity</u></h5>

            <div class="well">


              <ul class="icons-list text-md">

                <li>
                  <i class="icon-li fa fa-location-arrow"></i>

                  <strong>Rod</strong> uploaded 6 files. 
                  <br>
                  <small>about 4 hours ago</small>
                </li>

                <li>
                  <i class="icon-li fa fa-location-arrow"></i>

                  <strong>Rod</strong> followed the research interest: <a href="javascript:;">Open Access Books in Linguistics</a>. 
                  <br>
                  <small>about 23 hours ago</small>
                </li>

                <li>
                  <i class="icon-li fa fa-location-arrow"></i>

                  <strong>Rod</strong> added 51 papers. 
                  <br>
                  <small>2 days ago</small>
                </li>
              </ul>

            </div> <!-- /.well -->

          </div> <!-- /.col -->

        </div>
}