@(user: model.user.User, profileForm: Form[model.user.Profile])

@import helper._
@import play.i18n.Messages

@implicitFieldConstructor = @{ FieldConstructor(component.bootstrapInput.render) } 
@profileExists = @{null != user.profile}

@main("") { 

	<div class="layout layout-main-right layout-stack-sm">

        <div class="col-md-3 col-sm-4 layout-sidebar">

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>	
          </div>

          <ul class="nav nav-layout-sidebar nav-stacked" id="myTab">
              <li class="active">
              <a data-toggle="tab" href="#profile-tab">
              <i class="fa fa-user"></i> 
              &nbsp;&nbsp;Profile Settings
              </a>
            </li>

            <li class="">
              <a data-toggle="tab" href="#password-tab">
              <i class="fa fa-lock"></i> 
              &nbsp;&nbsp;Change Password
              </a>
            </li>

          </ul>

        </div> <!-- /.col -->



        <div class="col-md-9 col-sm-8 layout-main">

          <div class="tab-content stacked-content" id="settings-content">

            <div id="profile-tab" class="tab-pane fade active in">

              <h3 class="content-title"><u>Edit Profile</u></h3>

              <p>Adjust your personal profile. These information will be public and will we visible to any registered user.</p>

              <br><br>

              <form class="form-horizontal" action="./page-settings.html">

                <div class="form-group">

                  <label class="col-md-3">Image</label>

                  <div class="col-md-7">
                    <div data-provides="fileupload" class="fileupload fileupload-new">
                      <div style="width: 180px; height: 180px;" class="fileupload-new thumbnail">
                        <img alt="Profile Image" src="http://placehold.it/180x180">
                      </div>

                      <div style="max-width: 200px; max-height: 200px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>

                      <div>
                        <span class="btn btn-default btn-file">
                          <span class="fileupload-new">Select image</span>
                          <span class="fileupload-exists">Change</span>
                          <input type="file">
                        </span>

                        <a data-dismiss="fileupload" class="btn btn-default fileupload-exists" href="#">Remove</a>
                      </div> <!-- /div -->

                    </div> <!-- /.fileupload -->

                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->

                <div class="form-group">

                  <label class="col-md-3">Name</label>

                  <div class="col-md-7">
                    <input type="text" disabled="" class="form-control" value="@user.name" name="name">
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->

                <div class="form-group">

                  <label class="col-md-3">Email Address</label>

                  <div class="col-md-7">
                    <input type="text" disabled="" class="form-control" value="@user.email" name="email">
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->

                @inputText(profileForm("website"), '_label -> "Website", 'type -> "text", 'class -> "form-control", '_labelClass -> "col-md-3", '_inline -> true, '_inputWrapperClass -> "col-md-7")
				@textarea(profileForm("about"), '_label -> "About You", 'class -> "form-control", '_labelClass -> "col-md-3",'_inline -> true, '_inputWrapperClass -> "col-md-7")

                <div class="form-group">
                  <div class="col-md-7 col-md-push-3">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    &nbsp;
                    <button class="btn btn-default" type="reset">Cancel</button>
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

              </form>


            </div> <!-- /.tab-pane -->



            <div id="password-tab" class="tab-pane fade">

              <h3 class="content-title"><u>Change Password</u></h3>

              <p>You are free to change your password anytime. We advise you to use both upper, lower case letters with numbers as well. To maximize your security regularly change your password.</p>

              <br><br>

              <form class="form-horizontal" action="./page-settings.html">

                <div class="form-group">

                  <label class="col-md-3">Old Password</label>

                  <div class="col-md-7">
                    <input type="password" class="form-control" name="old-password">
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <hr>


                <div class="form-group">

                  <label class="col-md-3">New Password</label>

                  <div class="col-md-7">
                    <input type="password" class="form-control" name="new-password-1">
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <div class="form-group">

                  <label class="col-md-3">New Password Confirm</label>

                  <div class="col-md-7">
                    <input type="password" class="form-control" name="new-password-2">
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <div class="form-group">

                  <div class="col-md-7 col-md-push-3">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    &nbsp;
                    <button class="btn btn-default" type="reset">Cancel</button>
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->

              </form>

            </div> <!-- /.tab-pane -->

        </div> <!-- /.col -->

      </div>
	
}