@(userForm: Form[model.user.User], profileForm: Form[model.user.Profile], passwordChangeForm: Form[controllers.entity.PasswordChange])

@import helper._
@import play.i18n.Messages

@implicitFieldConstructor = @{ FieldConstructor(component.bootstrapInput.render) } 
@profileExists = @{null != user.profile}

@main("") { 

	<div class="layout layout-main-right layout-stack-sm">

        <div class="col-md-3 col-sm-4 layout-sidebar">

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>	
          </div>

          <ul class="nav nav-layout-sidebar nav-stacked" id="myTab">
              <li class="active">
              <a data-toggle="tab" href="#profile-tab">
              <i class="fa fa-user"></i> 
              &nbsp;&nbsp;Profile Settings
              </a>
            </li>

            <li class="">
              <a data-toggle="tab" href="#password-tab">
              <i class="fa fa-lock"></i> 
              &nbsp;&nbsp;Change Password
              </a>
            </li>

          </ul>

        </div> <!-- /.col -->



        <div class="col-md-9 col-sm-8 layout-main">

          <div class="tab-content stacked-content" id="settings-content">

            <div id="profile-tab" class="tab-pane fade active in">

              <h3 class="content-title"><u>Edit Profile</u></h3>

              <p>Adjust your personal profile. These information will be public and will we visible to any registered user.</p>

              <br><br>

			  @form(routes.UserController.save(), 'class -> "form-horizontal form parsley-form", Symbol("data-validate") -> "parsley", 'enctype -> "multipart/form-data") {

                <div class="form-group">

                  <label class="col-md-3">Image</label>

                  <div class="col-md-7">
                    <div data-provides="fileupload" class="fileupload fileupload-new">
                      <div style="width: 180px; height: 180px;" class="fileupload-new thumbnail">
                      	@if(util.asset.AssetUtils.isFileExist(profileForm("image").value)) {
                        	<img alt="Post image" src="@routes.Assets.at(profileForm("image").value)" class="img-responsive">
                        } else {
                        	<img alt="Profile Image" src="http://placehold.it/180x180">
                        }
                      </div>

                      <div style="max-width: 200px; max-height: 200px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>

                      @inputFile(profileForm("image"), '_label -> null, 'type -> "file")

                    </div> 

                  </div>

                </div>

				@inputText(userForm("name"), '_label -> "Name", 'type -> "text", 'class -> "form-control parsley-validated", Symbol("data-required") -> "true", '_labelClass -> "col-md-3", '_inline -> true, '_inputWrapperClass -> "col-md-7", '_showHelp -> false)
				@inputText(userForm("email"), '_label -> "Email Address", 'type -> "text", 'class -> "form-control", '_labelClass -> "col-md-3", '_inline -> true, '_inputWrapperClass -> "col-md-7", '_showHelp -> false, 'disabled -> "")
                @inputText(profileForm("website"), '_label -> "Website", 'type -> "text", 'class -> "form-control parsley-validated", Symbol("data-type") -> "url", '_labelClass -> "col-md-3", '_inline -> true, '_inputWrapperClass -> "col-md-7")
				@textarea(profileForm("about"), '_label -> "About You", 'class -> "form-control", '_labelClass -> "col-md-3",'_inline -> true, '_inputWrapperClass -> "col-md-7")

                <div class="form-group">
                  <div class="col-md-7 col-md-push-3">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    &nbsp;
                    <button class="btn btn-default" type="reset">Cancel</button>
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

              }


            </div> <!-- /.tab-pane -->



            <div id="password-tab" class="tab-pane fade">

              <h3 class="content-title"><u>Change Password</u></h3>
              
              <div class="status"></div>

              <p>You are free to change your password anytime. We advise you to use both upper, lower case letters with numbers as well. To maximize your security regularly change your password.</p>

              <br><br>


				@passwordChange(passwordChangeForm)

            </div> <!-- /.tab-pane -->

        </div> <!-- /.col -->

      </div>
      
	<script type="text/javascript">
		$(document).ready(function()
		{
			$("#passwordChangeForm").submit(function(e)
			{
				var form = $(this);
				
				// stop the form from submitting the normal way and refreshing the page
				e.preventDefault();
				if(form.parsley().isValid()) {
					
					var formData = form.serializeArray();
					jsRoutes.controllers.UserController.changePassword().ajax({
						data: formData,
				        success: function(response) {
				        	form.html(response);
				        	var successMessage = '<div class="alert alert-success"><a aria-hidden="true" href="#" data-dismiss="alert" class="close">&times;</a>Password Changed</div>';
				        	$('#password-tab .status').html(successMessage);
				        	$("#passwordChangeForm").parsley().destroy();
				        },
				        error: function(response) {
				            form.html(response.responseText);
				            $("#passwordChangeForm").parsley().destroy();
				        } 
				    });
				}
				
				
			});
		});
	</script> 
	
}