@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/Barlow-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Barlow-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Barlow-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Barlow-Medium.woff2') format('woff2');
}

:root {
  --primary-hs: 175 10%;
  --background-color: 230 15% 100%;

  --l-0: 0%;
  --l-30: 30%;
  --l-40: 40%;
  --l-50: 50%;
  --l-90: 90%;
  --l-100: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 230 20% 8%;

    --l-0: 100%;
    --l-30: 70%;
    --l-40: 60%;
    --l-50: 50%;
    --l-90: 10%;
    --l-100: 0%;
  }
}

html,
body {
  font-family: 'Barlow', sans-serif;
  background: hsl(var(--background-color));
  color: hsl(var(--primary-hs) var(--l-0));
  font-weight: 200;
  height: 100%;
}

svg {
  fill: hsl(var(--primary-hs) var(--l-30));
  transition: fill 0.3s ease;
}

h1 {
  font-weight: 500;
}

#__next {
  height: 100%;
}

a {
  color: hsl(var(--primary-hs) var(--l-30));
  text-decoration: none;
  transition: color 0.3s ease;
}

svg:hover {
  fill: hsl(var(--primary-hs) var(--l-0));
}

a:active,
a:hover {
  color: hsl(var(--primary-hs) var(--l-0));
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
