@(postForm: Form[model.blog.Post])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(component.bootstrapInput.render) }

@main("wod") { 
    
    <h1>Add a workout</h1>
    
    @form(routes.WODController.save, 'name -> "postForm", 'onsubmit -> "loadVal();", 'enctype -> "multipart/form-data") {
	
		@inputText(postForm("title"), '_label -> "Title", 'type -> "title", 'class -> "form-control")
		
		@component.toolbar()
		<div contenteditable="true" id="editor" ></div>
	    @textarea(postForm("content"), '_label -> null, 'id -> "content", 'type -> "content", 'placeholder -> "Compose your WOD...", 'style -> "display:none;")
		@inputFile(postForm("image"), '_label -> "Image", 'type -> "image", '_help -> "(Optional) Add an image to you WOD to be displayed")
		
		<div class="actions"> 
			<input type="submit" value="Save" class="btn btn-primary">
			<a href="@routes.BlogController.list()" class="btn btn-default">Cancel</a> 
		</div>
		
	}
	
	<script src="@routes.Assets.at("javascripts/init-editor.js")" type="text/javascript" ></script>
	
	<script type="text/javascript">
		function loadVal(){
			var desc = $("#editor").html();
			document.postForm.content.value = desc;
		}
	</script>   
}