@(formObject: Form[controllers.entity.Login])

@import helper._
@import play.i18n.Messages

@implicitFieldConstructor = @{ FieldConstructor(component.bootstrapInput.render) } 

@main("") { 
	<div class="account-wrapper">

		<div class="account-body">
			@loginForm(formObject)
		</div>
		
		<div class="account-footer">
			<p class="text-center">
				Not a member yet? <a href="@routes.Application.signUp()">Sign up now</a>
			</p>
		</div>
	
	</div>

	<script type="text/javascript">
		$(document).ready(function()
		{
			$("#loginForm").submit(function(e)
			{
				var form = $(this);
				var formData = form.serializeArray();
				jsRoutes.controllers.Application.authenticate().ajax({
					data: formData,
			        success: function(response) {
			        	window.location.replace(jsRoutes.controllers.Application.index().url);
			        },
			        error: function(response) {
			            form.html(response.responseText);
			        }
			    });
				// stop the form from submitting the normal way and refreshing the page
				e.preventDefault();
			});
		});
	</script> 
}