@(post: model.training.Workout, commentForm : Form[model.blog.Comment])

@import helper._
@import util.permission.Identity
@authenticated = @{Identity.isAuthenticated()}

@main("wod") {

    <div class="layout layout-stack-sm layout-main-left">

        <!-- Main -->
        <div class="col-sm-7 col-md-8 layout-main">

            <div class="feed-item feed-item-idea">

                <div class="feed-icon">
                    <i class="fa fa-lightbulb-o"></i>
                </div>

                <div class="feed-subject"><p><a href="#">@post.title</a> by <a href="#">@post.user.name</a></p></div>

                <div class="feed-content">
                    <ul class="icons-list">
                        <li>

                            <!-- Preview Image -->
                            @if(util.asset.AssetUtils.isFileExist(post.image)) {
                            <div style="width: 375px" class="thumbnail">
                                <img alt="Post image" src="@routes.Assets.at(post.image)" class="img-responsive img-centered">
                            </div>
                            }

                            <!-- Post Content -->
                            <i class="icon-li fa fa-quote-left"></i>
                            <div >@Html(post.content)</div>

                        </li>
                    </ul>
                </div>

                <div class="feed-actions">
                    @if(authenticated) {

                        @if(WODController.isAttendee(post)) {
                            <a class="pull-left" href="javascript:;" data-id="@post.id"><i class="fa fa-check-square-o"></i></a>
                        } else {
                            <a class="pull-left attend" href="#attendModal" data-id="@post.id" data-type="@post.resultType" data-toggle="modal" ><i class="fa fa-square-o"></i></a>
                        }
                    }
                    <a class="pull-left" href="javascript:;"><i class="fa fa-thumbs-up"></i> 0</a>
                    <a class="pull-left" href="javascript:;"><i class="fa fa-comment-o"></i> @post.commentCount</a>

                    <a class="pull-right" href="javascript:;"><i class="fa fa-clock-o"></i> @post.createdAt.format(util.Configuration.DATETIME_PATTERN)</a>
                </div>

                <div id="comments">
                    @comments(post)
                </div>

            </div>

            <div class="comment-actions share-widget clearfix">
                @form(routes.WODController.comment(), 'id -> "commentForm") {

                <input type="hidden" name="postId" value="@post.id">
                <textarea tabindex="1" name="content" placeholder="Share your feelings..." rows="3" class="form-control share-widget-textarea"></textarea>

                <div class="share-widget-actions">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Share</button>
                    </div>
                </div>
                }
            </div>

	    </div>

        <!-- Sidebar -->
        <div class="col-sm-5 col-md-4 layout-sidebar">

            <div class="portlet">

                @if(authenticated) {
                    <a href="@routes.WODController.create()" class="btn btn-primary btn-jumbo btn-block ">New WOD</a>

                    <a class="btn btn-secondary btn-lg btn-block " href="javascript:;">New Template</a>
                }


            </div>

            <h4>Recent Activity</h4>
            <div class="well">

                <ul class="icons-list text-md">
                    <li>
                        <i class="icon-li fa fa-comments-o text-success"></i>
                        <strong>New Comment!</strong>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                    <li>
                        <i class="icon-li fa fa-check-square text-secondary"></i>
                        <strong>New Action!</strong>
                        <br>
                        Vestibulum iaculis felis eu eros pellentesque placerat.
                    </li>
                    <li>
                        <i class="icon-li fa fa-truck text-tertiary"></i>
                        <strong>New Product!</strong>
                        <br>
                        Curabitur cursus nisl et mauris imperdiet porttitor.
                    </li>
                    <li>
                        <i class="icon-li fa fa-comments-o text-primary"></i>
                        <strong>New Comment!</strong>
                        <br>
                        Vestibulum iaculis felis eu eros pellentesque placerat.
                    </li>
                    <li>
                        <i class="icon-li fa fa-comments-o text-primary"></i>
                        <strong>New Comment!</strong>
                        <br>
                        Curabitur cursus nisl et mauris imperdiet porttitor.
                    </li>
                </ul>
            </div>
        </div>

	</div>
	
		<script type="text/javascript">
		/*$("div.post_content").text(function(index, currentText) {
			
			var charLimit = 100;
			if(currentText.length > charLimit) {
				var content = currentText.substr(0, 100);
			    return currentText.substr(0, 100) + '...';
			}
			
			return currentText;
		});*/
		
		$(document).ready(function()
		{
			$("#commentForm").submit(function(e)
				{
					var form = $(this);
				    //btn.button('loading');
					var formData = form.serializeArray();
					var formURL = form.attr("action");
					$.ajax(
					{
						url : formURL,
						type: "POST",
						data : formData,
						success: function(data, textStatus, jqXHR)
						{
							form.trigger("reset");
							$("#comments").html(data);
						},
						error: function(jqXHR, textStatus, errorThrown)
						{
							// TODO
							alert('Error ' + textStatus + ' ' + errorThrown);
						}
					});
					
					// stop the form from submitting the normal way and refreshing the page
					e.preventDefault();
				});
		});
	</script>
}

            