@(post: model.training.Workout)

@import helper._
@import util.permission.Identity

@main("wod") {
    
    <div class="row">
    
    	<div class="col-md-8">
    		<h1>WODs</h1>
    		
    		@if(Identity.isAuthenticated()) {
				<a href="/workouts/edit/@post.id" class="btn btn-primary">Edit <span class="glyphicon glyphicon-edit"></span></a>
			}

			<!-- Title -->
			<h2>@post.title</h2>
			
			<!-- Author -->
			<p class="lead">
			    by <a href="#">@post.user.name</a>
			</p>
			
			<hr>
			
			<!-- Date/Time -->
			<p><span class="glyphicon glyphicon-time"></span> Posted on @post.date.format("yyyy.MM.dd 'at' HH:mm:ss") </p>
			
			<hr>
			
			@if(util.asset.AssetUtils.isFileExist(post.image)) {
				<img alt="Post image" src="@routes.Assets.at(post.image)"  class="img-responsive">
				
				<hr>
			}

			<!-- Post Content -->
			<div class="post_content">@Html(post.content)</div>
			
			<hr>

		    <div class="well">
                <h4>Leave a Comment:</h4>
                @form(routes.WODController.comment(), 'id -> "commentForm") {
                    <div class="form-group">
                    	<input type="hidden" name="postId" value="@post.id">
                        <textarea rows="3" name="content" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </div>
            
            <hr/>
            
            <div id="comments">
            	@comments(post)
            </div>
            
            <a href="@routes.WODController.list()" class="btn btn-default">Back</a> 
            
	    </div>

	</div>
	
		<script type="text/javascript">
		/*$("div.post_content").text(function(index, currentText) {
			
			var charLimit = 100;
			if(currentText.length > charLimit) {
				var content = currentText.substr(0, 100);
			    return currentText.substr(0, 100) + '...';
			}
			
			return currentText;
		});*/
		
		$(document).ready(function()
		{
			$("#commentForm").submit(function(e)
				{
					var form = $(this);
				    //btn.button('loading');
					var formData = form.serializeArray();
					var formURL = form.attr("action");
					$.ajax(
					{
						url : formURL,
						type: "POST",
						data : formData,
						success: function(data, textStatus, jqXHR)
						{
							form.trigger("reset");
							$("#comments").html(data);
						},
						error: function(jqXHR, textStatus, errorThrown)
						{
							// TODO
							alert('Error ' + textStatus + ' ' + errorThrown);
						}
					});
					
					// stop the form from submitting the normal way and refreshing the page
					e.preventDefault();
				});
		});
	</script>
}

            